# You can use any storage you want for this, I chose NFS mostly just to try it since I hadn't before.
# I normally would use local, that is completely viable here for hosting on your own k8s cluster.
# Maybe look into blob storage if you are using a cloud provider, though I have gotten away with using local storage in AKS.

# Make sure, if you use an NFS, you do a chown -R $UID:$UID . for the user ID your docker image runs as. In my case it's 1993 (deno UID).
# Alternatively, (NOT RECOMMENDED IN PRODUCTION OR CLOUD ENVIRONMENT) you can use `chmod -R 777 .` to grant read/write to all users.

# You don't have to worry about any of the above if you use local storage or your existing storage driver in your cluster.

apiVersion: v1
kind: PersistentVolume
metadata:
  name: discord-nfs-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  claimRef:
    name: discord-nfs-pvc
    namespace: discord
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: # NFS server
    path: # NFS share path
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: discord-nfs-pvc
  namespace: discord
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: discord-nfs-pv
